body {
    margin: 0;
}

.navigation {
    grid-column: 2;
    justify-self: center;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    width: 100%;
    margin: 0;
    padding: 15px 0;
    background-color: darkgray;;
    border-bottom: 2px solid black;
}

.navigation .nav-link {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 8px 14px;
    border-radius: 3px;
    position: relative;
    transition: all 0.3s ease;
}

nav .nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: black;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

nav .nav-link:hover::after {
    width: 100%;
}

nav .nav-link:hover {
    background-color: gray;
    border-radius: 4px;
}